font-family: 'Kanit', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    background: ;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: url(img/adu.png);
    background-position: center;
    background-size: center;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 15px;
}
nav{
  flex: 1;
   text-align: right;
}
nav ul{
    display: inline-block;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    padding: 20px;
}

li a:hover{
    background: white;
    transition: 0.5s;
}
.navbar a:hover{
    color: black;
}
.logo img{
    height: 140px;
    width: 150px;
    
}
.con2{
    max-width: 2000px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.content{
    width: 100%;
    position: absolute;
    color: white;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
}
.content h1{
    margin-top: 80px;
    font-size: 40px;
    font-weight: 800;
}
Button{
    width: 200px;
    padding: 15px;
    margin: 20px 5px;
    text-align: center;
    border-radius: 25px;
    color: black;
    border: 2px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
}
Button:hover{
    background: skyblue;
    transition: 0.9;
}
Button:hover{
    color: white;
}
Product:hover{
    background: skyblue;
    transition: 0.9;
}
Product:hover{
    color: white;
    
}
.banner video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media(min-aspect-ratio: 16/9){
    .banner video{
        width: 100%;
        height: auto;
    }
}
.header.row{
    margin-top: 50px;
}
/*-------- about us --------*/
.png{
    max-width: 400px;
    float: left;
    border: 3px solid white;
    border-radius: 10px;
    margin-right: 15px;
}
.titel h3{
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 80px;
}
.wallpaper{
    margin: 1px auto;
    width: 80%;
}
.textbox{
    color:black;
}
.textbox h5{
    font-size: 25px;
}
.textbox p3{
    font-size: 18px;
    text-align: center;
}
/*-------------- footer -------------*/
.footerbottom{
    background: ;
    padding: 10px;
    text-align: center;
}
.footerbottom p2{
    color: white;
}

















